**/.vscode
**/node_modules

**/pages
**/build

**/*.tsbuildinfo
**/typings/
**/*.tgz

**/coverage
**/*.lcov

**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/logs
**/*.log
**/yarn-debug.log*
**/yarn-error.log*
**/.yarn-integrity

**/.env
**/.env.test

**/.next
**/_book

**/pids
**/*.pid
**/*.seed
**/*.pid.lock

**/.cache/
**/.DS_Store
